<h1> This is a Basic and Aadvanced calculator </h1>

<% if @result %>
<h1>The result is <%= @result %></h1>
<% end %>


  <form method="get" action="/calculat8r">
    <input type="float" name="first_number" placeholder="first_number" step="0.01">

    <select name="operator" value="<%= @operator %>">
      <option value="+" <%= 'selected = "selected"' if @operator=="+" %>>+</option>
      <option value="-" <%= 'selected = "selected"' if @operator=="-" %>>-</option>
      <option value="*" <%= 'selected = "selected"' if @operator=="*" %>>*</option>
      <option value="/" <%= 'selected = "selected"' if @operator=="/" %>>/</option>
      <option value="**" <%= 'selected = "selected"' if @operator=="**" %>>**</option>
      <option value="sqrt" <%= 'selected = "selected"' if @operator=="sqrt" %>>sqrt</option>
    </select>

    <input type="float" name="second_number" placeholder="second_number">

    <button>CALCULATE!</button>
  </form>

