<h1> This is a Measurement converter </h1>
<p> Which conversion do you want to do? </p><br>
<p> (m)iles to kilometers, (f)eet to meters, (i)nches to centimeters, OR (k)ilometers to miles, m(e)ters to feet, (c)entimeters to inches: </p>


<% if @result %>
<h1>The result is <%= @result %></h1>
<% end %>


  <form method="get" action="/measurement_calc">
    <input type="float" name="measure" placeholder="0" step="0.01">

    <select name="operator" value="<%= @operator %>">
      <option value="m" <%= 'selected = "selected"' if @operator=="m" %>>m</option>
      <option value="f" <%= 'selected = "selected"' if @operator=="f" %>>f</option>
      <option value="i" <%= 'selected = "selected"' if @operator=="i" %>>i</option>
      <option value="k" <%= 'selected = "selected"' if @operator=="k" %>>k</option>
      <option value="e" <%= 'selected = "selected"' if @operator=="e" %>>e</option>
      <option value="c" <%= 'selected = "selected"' if @operator=="c" %>>c</option>
    </select>

    <button> Convert </button>
  </form>